@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.calculator{
    width: 300px;
    height: 400px;
}
.calc{
    width: 300px;
}
.login{
    width: 100vw;
    height: 100vh;
}

ion-icon {
    font-size: 80px;
    --ionicon-stroke-width: 12px;
  }

.background-circle1{
    height: 1400px;
    width: 1400px;
    left: -740px;
    top: -330px;
    position: fixed;
    border-radius: 100%;
    background-color: #45ba7b;
    z-index: 1;
}

.background-circle{
    height: 1400px;
    width: 1400px;
    left: -750px;
    top: -300px;
    position: fixed;
    border-radius: 100%;
    background-color: #11823b;
    z-index: 2;
}